
<div class="faqcon">
	<div  class="card">
  <div class="card-body">
    <h5 class="card-title">LSEO Questions</h5>
    <hr class="bg-danger border-2 border-top border-danger">
    <p>Questions about the LSEO platform, company and your account.</p>
<ol class="list-group list-group-numbered">
  <li class="list-group-item">Can I Cancel My Account At Anytime?

</li>
<br><p>Yes. You can cancel your account at any time. You will not be billed again without reactivating your account.</p>
  <li class="list-group-item">Am I Locked Into A Long Term Contract With LSEO?</li>
  <br><p>Absolutely not! Unlike many traditional agencies, we do things differently.  There is no contract and you can cancel at anytime.</p>


  <li class="list-group-item">How Do I Get In Touch With LSEO If I Have Questions?</li>
  <br><p>Simply email Help@LSEO.com or call us: 1-877-778-1749</p>


</ol>

  </div>
  
</div>

</div>