<div class="container-fluid">
  <br>
<p #test class="line-1 anim-typewriter">Welcome to DIYSEO by LESEO</p>
 <div class="pcon">
 <div class="container-fluid py-2">
    <h2 class="font-weight-light"></h2>
    <div class="d-flex flex-row flex-nowrap">
        <a> <div class="card card-body">Card</div></a>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
    </div>
</div>





</div>
<div class="pcon">
 <div class="container-fluid py-2">
    <h2 class="font-weight-light"></h2>
    <div class="d-flex flex-row flex-nowrap">
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
        <div class="card card-body">Card</div>
    </div>
</div>



</div>