<div class="faqcon">
	<div  class="card">
  <div class="card-body">
    <h5 class="card-title">Change your Password</h5>
    <hr class="bg-danger border-2 border-top border-danger">
    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">New Password</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
  
</div>


<div  class="card">
  <div class="card-body">
    <h5 class="card-title">Change your Profile Image
</h5>
    <hr class="bg-danger border-2 border-top border-danger">
    
  </div>
  
</div>


<div  class="card">
  <div class="card-body">
    <h5 class="card-title">Your Business Account Details

</h5>
    <hr class="bg-danger border-2 border-top border-danger">
    
  </div>
  
</div>


<div  class="card">
  <div class="card-body">
    <h5 class="card-title">Your Online Presence Data Sources
</h5>
    <hr class="bg-danger border-2 border-top border-danger">
    
  </div>
  
</div>


<div  class="card">
  <div class="card-body">
    <h5 class="card-title">Your Online Presence Data Sources
</h5>
    <hr class="bg-danger border-2 border-top border-danger">
    
  </div>
  
</div>

</div>